body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	color: black;
}
#main_content {
	float: left;
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
}
#content {
	width: auto;
	height: auto;
	display: inline-block;
}

#shopping_cart_button {
	position: absolute;
	right: 10px;
	top: 10px;
}

#shopping_cart {
	float: right;
	display: none;
	background-color: #D8D8D8;
	width: 350px;
	height: calc(100% - 250px);
	font-family: 'League Gothic';
	font-size: 12pt;
}

#shopping_cart  h1 {
	font-family: arial !important;
	font-size: 18pt;
}

#shopping_cart_table {
	width: 100%;
}

.cart_menu_item_quantity_input {
	width: 2em;
	text-align: right;
}

.cart_menu_item_quantity_input {
	width: 6em;
}

.nav {
	position: static !important;
}

.menu {
	width: 100%;
	font-family: 'league_gothicregular';
	font-size: 18pt;
	margin-top: 25px;
}


.menu h1 {
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	font-size: 24pt;
}

.menu p {
	font-size: 16pt;
}

.menu_item {
	width: 345px;
	height: auto;
	vertical-align: top;
	display:inline-block;
	margin: 10px;
	background-color: #D8D8D8;
}

.menu_item h3  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	background-color:black;
	color: white;
	font-size: 22pt;
}

.menu_item h4  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	background-color:black;
	color: white;
}
 .menu_item p {
	margin-top: 0;
}

.menu_item  img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 3px;
}

.menu_item span {
	position: relative;
	display: none;
}

.menu_item:hover  span {
	display: block;
	position: absolute;
	width: 200px;
	background: #D8D8D8;
	border: ridge;
	border-color: #383838;
	padding: 0;
	margin: 100;
}

#divider1 {
	display: none;
}